<strong>Olá {{ organizer }}</strong>
<p>Novo inscrito em {{ meetup }} confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
